@import '../../../styles/variables.scss';

.container {
	padding: 0 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
  text-align: center;
	opacity: 0.9;

	.maintitle {
		margin-top: 1.5rem;
		margin-bottom: 3rem;
		font-size: 1.8rem;
		font-weight: 900;
		letter-spacing: -1px;
		text-transform: lowercase;
	}

	.emptysaleslist{
		& > * {
			text-transform: lowercase;
			letter-spacing: -1px;
			font-size: 1rem;
			font-weight: 900;
		}
	}
	
	.cardwrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		justify-content: center;
		
		.card {
			padding: 1rem 2rem;
			width: 200px;
			min-height: 100px;
			background-color: $blue;
			box-shadow: 0 3px 6px #0000001c;
			border-radius: 0;
			position: relative;
	
			.datacontainer {
				text-align: left;
				text-transform: lowercase;
				margin-bottom: 1rem;
				& > * {
					line-height: 1;
				}

				.formikcontainer {
					display: flex;
					align-items: flex-end;
					gap: 1rem;
				}
			}
	
			.title {
				font-size: 0.8rem;
			}

			.text {
				font-weight: 900;
				letter-spacing: -1px;
				font-size: 0.9rem;

				.important {
					border-bottom: 8px solid $tertiary;
				}
			}

			.state {
			position: absolute;
			top: 0;
			right: 0;
			text-align: center;
			text-transform: lowercase;
			& > * {
				border-radius:0 0 0 20px;
				padding: 0.5rem;
				font-weight: 900;
				font-size: 0.7rem;
				letter-spacing: -0.5px;
			}
				.statedelivered {
					background-color: rgba($color: $green, $alpha: 0.7);
					}
				.statepending {
					background-color: rgba($color: $error, $alpha: 0.7);
				}
			}
		}
	}
}