@import '../styles/variables.scss';

$light: #f1f1f1;
$blue-light: #e0eefa;

.container {
	box-sizing: border-box;
	background-color: $light;
	width: 100%;
	display: flex;
	flex-direction: column;

	.header {
		text-align: center;
		font-size: 5rem;
		font-weight: 900;
		letter-spacing: -2px;
		margin: 3rem;
	}

	.body {
		.sharedbg {
			background-color: $primary;
			position: relative;
		}

		.sharedbg::before {
			content: "";
			background: url('../media/cloud-bg.png');
			background-size:contain;
			background-repeat: repeat;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			opacity: 0.1;
		}
		.cardcontainer {
			background-color: $blue;

			.cardimgcontainer {
				overflow: hidden;
				// padding: 1rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				img {
					width: 100%;
					height: auto;
					object-fit: scale-down;
				}
			}

			.cardswrapper {
				display: grid;
				height: auto;
				gap: 1rem;
				padding: 1rem;;
				grid-template-areas: 
				"card1 card1 card2 card3"
				"card4 card4 card5 card5"
				"card6 card6 card6 card7"
				"card8 card8 card9 card10"
				;
	
				.card1 {
					grid-area: card1;
				}
				.card2 {
					grid-area: card2;
				}
				.card3 {
					grid-area: card3;
				}
				
				.card4 {
					grid-area: card4;
				}
				.card5 {
					grid-area: card5;
				}
				.card6 {
					grid-area: card6;
				}
				.card7 {
					grid-area: card7;
				}
				.card8 {
					grid-area: card8;
				}
				.card9 {
					grid-area: card9;
				}
				.card10 {
					grid-area: card10;
				}
				.card {
					padding: 1rem;
					padding-bottom: 0;
					text-transform: lowercase;
					background-color:$blue-light;
	
					.text {
						font-size: 1rem;
						// font-weight: 700;
						letter-spacing: -1px;
	
						span {
							font-weight: 900;
							font-size: 1.3rem;
							display: block;
						}
					}
				}
			}
		}

		.videocontainer {
			z-index: 2;
			padding: 7rem 0;

			.cardmediacontainer {
				width: 100%;
				position: relative;
				// padding-top: 56.25%;
				padding-top: 35%;
				display: flex;
				flex-direction: column;
				align-items: center;
	
				.cardmedia {
					position: absolute;
					top: 0;
					// left: 0;
					width: 60%;
					height: 100%;
				}
			}
		}

		.maintitle {
			z-index: 2;
			& > * {
				font-weight: 900;
				text-align: center;
				font-size: 5rem;
				letter-spacing: -2px;
				padding: 3rem 0;

			}
		}

		.main {
			z-index: 2;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			text-transform: lowercase;
			position: relative;

			.imgcontainer {
				width: 55%;
				right: 0;
				z-index: 2;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}

			.commercialtitle {
				z-index: 2;
				font-weight: 900;
				color: $green;
				font-size: 1.5rem;
				letter-spacing: -2px;

				.link {
					padding: 0 1rem;
					background-color: $green;
					text-decoration: none;

					&:hover {
						background-color: $primary;
					}
				}
			}

			.commercial {
				z-index: 2;
				width: 45%;
				margin-left: 4rem;
				.client {
					text-align: center;
				}
				.business {
					z-index: 2;
					width: 100%;
					text-align: center;
					padding-bottom: 3rem;
				}
			}

			.bulletwrapper {
				text-align: center;
				width: 100%;
				
				.bullet {
					display: flex;
					align-items: center;
					padding: 1rem 0;
					font-weight: 900;
					text-align: left;

					.bullettext {
						font-weight: 900;
						// color: $secondary;
						// font-size: 1rem;
						letter-spacing: -1px;
						margin-left: 1rem;
						font-size: 1rem;

						span {
							border-bottom: solid 8px #f3ef21;
						}
					}
				}
			}
		}
	}

	.footer {
		border-top: solid 10px $secondary;
		padding: 2rem;
		display: flex;
		justify-content: space-between;

		.contact {
			display: flex;
			flex-direction: column;

			.text {
				font-weight: 900;
				font-size: 1rem;
				letter-spacing: -1px;
				padding: 0 1rem;
				&:hover {
					background-color:$blue;
				}
			}
		}
		.social {
			&>* {
				&:hover {
					border-radius: 0;
					background-color:$tertiary;
				}
			}
		}

		.logo {
			img {
				max-width: 150px;
			}
		}
	}
}



