@import '../../../styles/variables.scss';

.container {
	text-align: left;
	// border: solid 1px rgba($color: $secondary, $alpha: 0.2);
	padding: 1rem;

	.caption {
		border-bottom: solid 8px $tertiary;

	}
	.btncontainer {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.selectedimgcontainer {
		display: flex;
		align-items: flex-end;
	
		.isnoteditcontainer {
			background-color: $blue;
			height: 100px;
			width: 200px;
			display: flex;
			margin-right: 1rem;
		}
	
		.iseditcontainer {
			background-color: $blue;
			position: absolute;
			left: 0;
			top: 0;
			height: 100px;
			width: 200px;
		}
	
		img {
			height: 100%;
			width: 100%;
			object-fit: scale-down;
		}
	}

}

