@import '../../../styles/variables.scss';

.container {
	margin-top: 1rem;
	text-transform: lowercase;

	.editbtn {
		padding: 0.5rem;
		border-radius: 50%;
		background-color: rgba($color: $primary, $alpha: 0.7);
	}
	
	.subtitle {
		font-weight: 900;
		font-size: 0.6rem;
		letter-spacing: -0.5px;
	}
	
	.caption {
		border-bottom: solid 8px $tertiary;
		margin: auto;

	}
	.btncontainer {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.selectedimgcontainer {
		display: flex;
		justify-content: center;
		gap: 1rem;
		
	
		.isnoteditcontainer {
			background-color:$blue;
			display: flex;
			height: 100px;
			position: absolute;
			width: 200px;
			overflow: hidden;
		}
	
		.iseditcontainer {
			background-color:$blue;
			display: flex;
			height: 100px;
			position: absolute;
			width: 200px;
			overflow: hidden;
			top: 0;
		}
	
		img {
			height: 100%;
			width: 100%;
			object-fit: scale-down;
		}
	}
}

