@import '../../../styles/variables.scss';

.container {
	padding: 0 5rem;
	max-width: 60%;
	text-transform: lowercase;
	min-height: 100vh;

	.title {
		margin-top: 1.5rem;
		margin-bottom: 2rem;
		font-size: 1.8rem;
		font-weight: 900;
		letter-spacing: -1px;
	}

	.btncontainer {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		gap: 1rem;
	}

	.uploadimgcontainer {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		gap: 1rem;
		margin-top: 1rem;
		position: relative;
	
		.imgcontainer {
			height: 100px;
			width: 200px;
			position: absolute;
			top: 0;
		
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
